<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <title>Pet Care</title>
</head>

<body>

<nav>
    <ul>
        <li><img class="logo" src="../static/images/paw.svg"></li>
        <li class="title">Animal Care</li>
        <li><a href="{% url 'home page' %}">Home</a></li>
        <li><a href="{% url 'add animal page' %}">Add Animal</a></li>
    </ul>
</nav>
<div class="content">

    <h1>Are you sure you want to delete the animal?</h1>
    <div class="buttons-container small">

        <form method="POST" action="{% url 'delete animal page' animal.pk %}">
            {% csrf_token %}
            <a class="delete button">Yes</a>

        </form>



        <a class="button details" href="{% url 'home page' %}">Go Back</a>
    </div>

</div>
<footer> Python Web Basics Retake Exam @SoftUni</footer>

</body>

</html>