<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <title>Pet Care</title>
</head>

<body>

    <nav>
        <ul>
            <li><img class="logo" src="../static/images/paw.svg"></li>
            <li class="title">Animal Care</li>
            <li><a href="./home_with_no_animals.html">Home</a></li>
            <li><a href="./create.html">Add Animal</a></li>
        </ul>
    </nav>
    <div class="content">

        <h1> Sick animals in clinic </h1>

        <h2>No sick animals in the clinic</h2>

        <h1> Cured animals </h1>

        <h2>No cured animals in the clinic</h2>


    </div>
    <footer> Python Web Basics Retake Exam @SoftUni </footer>

</body>

</html>