{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'todo_app/index.css' %}">
</head>
<body>
    <h1>My Todo List</h1>
    {% if todos %}
        <div class="container">
            {% for todo in todos %}
            <div class="todo">
                <p>{{ todo.title }}</p>
                <div class="description">{{ todo.description }}</div>
                {%  if todo.is_done %}
                    <div class="done">DONE</div>
                {% else %}
                    <div class="open">NOT DONE</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
{% else %}
        <h2>no TODOS</h2>
{% endif %}
<a class="btn btn-primary" href="{% url 'create' %}">Add new</a>



</body>
</html>